## End of Module Assessment 3

Your org implemented a Google Form for your Recweek, but it was not able to design it well enough to prevent ambiguous data entry.You are tasked to clean up a csv of fake, dirty data called **recweekdata.csv** (presumably exported from some spreadsheet).

In addition, you have a file named **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into usable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata.csv**
2. This notebook, containing the code (properly commented) that you used to clean the data

Your solution **must use Pandas and possibly Numpy**.

Avoid using loops as much as you can. If I see loops where Pandas vectorization operations are more appropriate, you will receive deductions. 

Hint(s):
* if you need to apply scalar (regular single-value) functions on Pandas columns, use the Pandas Dataframe .apply(...) function

Clearly show your output similiar to what you see in this notebook. 

#### Required Statistics

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people per year level?
6. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*
7. How many Globe subscribers are: Male? Female?
8. How many Smart subscribers are: Male? Female?

In [1]:
# start of code; add as many cells as needed
import pandas as pd
import re
import numpy as np

In [1]:
# the outputs below use the dataframe variable name recweek

In [4]:
# check header

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,11,26,1998,BS LM,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,Management,4,927 212 6276
2,name3,lastname3,5,16,1997,BS CTM,1,+63 918 253 7017
3,name4,lastname4,Dec,9,97,BS ITE,3,918 714 4360
4,name5,lastname5,Sep,5,97,BS CTM,3,+63 927 462 1674

In [2]:
# write code here
filename = "recweekdata.csv"
recweek = pd.read_csv(filename)
recweek.head()

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,11,26,1998,BS LM,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,Management,4,927 212 6276
2,name3,lastname3,5,16,1997,BS CTM,1,+63 918 253 7017
3,name4,lastname4,Dec,9,97,BS ITE,3,918 714 4360
4,name5,lastname5,Sep,5,97,BS CTM,3,+63 927 462 1674

In [5]:
# check tail

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
2995,name2996,lastname2996,March,28,97,BS CTM,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,LM,2,917 445 3378
2997,name2998,lastname2998,July,3,98,ITE,2,917 154 5694
2998,name2999,lastname2999,12,2,98,ME,3,927 497 8977
2999,name3000,lastname3000,Jul,13,1997,Legal Management,1,+63 918 719 7624

In [3]:
# write code here
recweek.tail()

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
2995,name2996,lastname2996,March,28,97,BS CTM,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,LM,2,917 445 3378
2997,name2998,lastname2998,July,3,98,ITE,2,917 154 5694
2998,name2999,lastname2999,12,2,98,ME,3,927 497 8977
2999,name3000,lastname3000,Jul,13,1997,Legal Management,1,+63 918 719 7624

In [9]:
# Clean Month

# dump recweek data
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS LM,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,Management,4,927 212 6276
2,name3,lastname3,May,16,1997,BS CTM,1,+63 918 253 7017
3,name4,lastname4,December,9,97,BS ITE,3,918 714 4360
4,name5,lastname5,September,5,97,BS CTM,3,+63 927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,97,BS CTM,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,LM,2,917 445 3378
2997,name2998,lastname2998,July,3,98,ITE,2,917 154 5694
2998,name2999,lastname2999,December,2,98,ME,3,927 497 8977
2999,name3000,lastname3000,July,13,1997,Legal Management,1,+63 918 719 7624

In [4]:
# write code here

# The various syntax for most of the months are kept in a consistent format:

# Case 1 - Three character abbreviations  (Jan)
# Case 2 - Number of month designation    (1)
# Case 3 - The whole month spelled out    (January)

# Capitalization and format is kept throughout. Data validation takes into account Case 3 as well so that
# "None" types are not returned.

# Confirming the data types of each column
recweek.dtypes

# A dictionary containing all the possible dirty cases for each month
monthsdict = {
    "Jan":"January","Feb":"February","Mar":"March",
    "Apr":"April","May":"May","Jun":"June",
    "Jul":"July","Aug":"August","Sep":"September",
    "Oct":"October","Nov":"November","Dec":"December",
    "1":"January","2":"February","3":"March",
    "4":"April","5":"May","6":"June",
    "7":"July","8":"August","9":"September",
    "10":"October","11":"November","12":"December",
    "January":"January","February":"February","March":"March",
    "April":"April","May":"May","June":"June",
    "July":"July","August":"August","September":"September",
    "October":"October","November":"November","December":"December"}

# Function that replaces dirty month via vectorization
def cleanmonths(month):
    for m in monthsdict:
        if month==m:
            return str(monthsdict[m])
            continue
        else:
            continue

# Vectorizing months
recweek["birthmonth"] = recweek["birthmonth"].apply(cleanmonths) 

# Dump 
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS LM,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,Management,4,927 212 6276
2,name3,lastname3,May,16,1997,BS CTM,1,+63 918 253 7017
3,name4,lastname4,December,9,97,BS ITE,3,918 714 4360
4,name5,lastname5,September,5,97,BS CTM,3,+63 927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,97,BS CTM,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,LM,2,917 445 3378
2997,name2998,lastname2998,July,3,98,ITE,2,917 154 5694
2998,name2999,lastname2999,December,2,98,ME,3,927 497 8977
2999,name3000,lastname3000,July,13,1997,Legal Management,1,+63 918 719 7624

In [12]:
# Clean Year



# dump recweek data
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS LM,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,Management,4,927 212 6276
2,name3,lastname3,May,16,1997,BS CTM,1,+63 918 253 7017
3,name4,lastname4,December,9,1997,BS ITE,3,918 714 4360
4,name5,lastname5,September,5,1997,BS CTM,3,+63 927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,1997,BS CTM,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,LM,2,917 445 3378
2997,name2998,lastname2998,July,3,1998,ITE,2,917 154 5694
2998,name2999,lastname2999,December,2,1998,ME,3,927 497 8977
2999,name3000,lastname3000,July,13,1997,Legal Management,1,+63 918 719 7624

In [14]:
# Clean Course





# dump recweek data
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS Legal Management,2,+63 918 302 6210
1,name2,lastname2,May,26,2001,BS Management,4,927 212 6276
2,name3,lastname3,May,16,1997,BS Communications Technology,1,+63 918 253 7017
3,name4,lastname4,December,9,1997,BS IT Entrepreneurship,3,918 714 4360
4,name5,lastname5,September,5,1997,BS Communications Technology,3,+63 927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,1997,BS Communications Technology,2,917 795 5051
2996,name2997,lastname2997,May,19,1998,BS Legal Management,2,917 445 3378
2997,name2998,lastname2998,July,3,1998,BS IT Entrepreneurship,2,917 154 5694
2998,name2999,lastname2999,December,2,1998,BS Management Engineering,3,927 497 8977
2999,name3000,lastname3000,July,13,1997,BS Legal Management,1,+63 918 719 7624

In [15]:
# mobile number cleaning

# dump recweek data
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS Legal Management,2,0918 302 6210
1,name2,lastname2,May,26,2001,BS Management,4,0927 212 6276
2,name3,lastname3,May,16,1997,BS Communications Technology,1,0918 253 7017
3,name4,lastname4,December,9,1997,BS IT Entrepreneurship,3,0918 714 4360
4,name5,lastname5,September,5,1997,BS Communications Technology,3,0927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,1997,BS Communications Technology,2,0917 795 5051
2996,name2997,lastname2997,May,19,1998,BS Legal Management,2,0917 445 3378
2997,name2998,lastname2998,July,3,1998,BS IT Entrepreneurship,2,0917 154 5694
2998,name2999,lastname2999,December,2,1998,BS Management Engineering,3,0927 497 8977
2999,name3000,lastname3000,July,13,1997,BS Legal Management,1,0918 719 7624

In [5]:
# write code here

# Converting birthyear column into object/string data for regex applications
recweek["birthyear"] = recweek["birthyear"].astype(str)

# Function used for cleaning "years" via vectorization. Only 2 cases:
# Case 1 - Year is written as two digits, which signifies late 20th century births (97)
# Case 2 - Year is written in full (1997,2001,etc.)

def cleanyear(year):
    twodigit = r"^\d{2}$"
    
    if (re.match(twodigit,year)):
        year = "19" + year
        return year
    else:
        return year

# Function used for cleaning "courses" via vectorization. Only 4 cases:
# Case 1 - Whole name of the course is stated (Management)
# Case 2 - Abbreviated course (MGT)
# Case 3 - Abreviated course with 'BS' (BS MGT)
# Case 4 - Full course name - (BS Management)

def cleancourse(course):
    coursedict = {
        "ME":"BS Management Engineering","BS ME":"BS Management Engineering","Management Engineering":"BS Management Engineering","BS Management Engineering":"BS Management Engineering",
        "CTM":"BS Communications Technology","BS CTM":"BS Communications Technology","Communications Technology":"BS Communications Technology","BS Communications Technology":"BS Communications Technology",
        "MGT":"BS Management","BS MGT":"BS Management","Management":"BS Management","BS Management":"BS Management",
        "LM":"BS Legal Management","BS LM":"BS Legal Management","Legal Management":"BS Legal Management","BS Legal Management":"BS Legal Management",
        "ITE":"BS IT Entrepreneurship","BS ITE":"BS IT Entrepreneurship","Information Technology Entrepreneurship":"BS IT Entrepreneurship","BS IT Entrepreneurship":"BS IT Entrepreneurship"}
    
    for c in coursedict:
        if course==c:
            return str(coursedict[c])
        else:
            continue

# Function used for cleaning "phonenumbers" via vectorization. Only 2 cases:
# Case 1 - Unique digits (917 654 3210)
# Case 2 - Country code included (+63 917 654 3210)

def cleanphonenumber(phonenumber):
    
    uniquepattern = r"^9[\d]{2} \d{3} \d{4}$"
    codedpattern = r"^\+63 9[\d]{2} \d{3} \d{4}"
    
    if (re.match(uniquepattern,phonenumber)):
        phonenumber = "0"+phonenumber
        return phonenumber
    elif (re.match(codedpattern,phonenumber)):
        phonenumber = "0" + phonenumber[4:]
        return phonenumber
    else:
        return phonenumber


# Cleaning columns via vectorization:
recweek["birthyear"] = recweek["birthyear"].apply(cleanyear)             # cleaning birth years
recweek["course"] = recweek["course"].apply(cleancourse)                 # cleaning courses
recweek["phonenumber"] = recweek["phonenumber"].apply(cleanphonenumber)  # cleaning phone numbers

# Dumping dataframe
recweek

,firstname,lastname,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,November,26,1998,BS Legal Management,2,0918 302 6210
1,name2,lastname2,May,26,2001,BS Management,4,0927 212 6276
2,name3,lastname3,May,16,1997,BS Communications Technology,1,0918 253 7017
3,name4,lastname4,December,9,1997,BS IT Entrepreneurship,3,0918 714 4360
4,name5,lastname5,September,5,1997,BS Communications Technology,3,0927 462 1674
...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,March,28,1997,BS Communications Technology,2,0917 795 5051
2996,name2997,lastname2997,May,19,1998,BS Legal Management,2,0917 445 3378
2997,name2998,lastname2998,July,3,1998,BS IT Entrepreneurship,2,0917 154 5694
2998,name2999,lastname2999,December,2,1998,BS Management Engineering,3,0927 497 8977
2999,name3000,lastname3000,July,13,1997,BS Legal Management,1,0918 719 7624

In [129]:
# add genders
# hint: load "studentprofiles.csv" as new dataframe and add to our dataframe using Pandas merge(...) function


# dump recweek data
final_recweek

,firstname,lastname,gender,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,Female,November,26,1998,BS Legal Management,2,0918 302 6210
1,name2,lastname2,Female,May,26,2001,BS Management,4,0927 212 6276
2,name3,lastname3,Female,May,16,1997,BS Communications Technology,1,0918 253 7017
3,name4,lastname4,Male,December,9,1997,BS Information Technology Entrepreneurship,3,0918 714 4360
4,name5,lastname5,Female,September,5,1997,BS Communications Technology,3,0927 462 1674
...,...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,Female,March,28,1997,BS Communications Technology,2,0917 795 5051
2996,name2997,lastname2997,Male,May,19,1998,BS Legal Management,2,0917 445 3378
2997,name2998,lastname2998,Female,July,3,1998,BS Information Technology Entrepreneurship,2,0917 154 5694
2998,name2999,lastname2999,Male,December,2,1998,BS Management Engineering,3,0927 497 8977
2999,name3000,lastname3000,Male,July,13,1997,BS Legal Management,1,0918 719 7624

In [6]:
# write code here

# Loading studentprofiles data as dataframe
filename2 = "studentprofiles.csv"
studentprofiles = pd.read_csv(filename2)

# Isolating the columns in "studentprofiles" dataframe to match based on "firstname" with "recweek" and merge dataframes
genderdf = studentprofiles[["firstname","gender"]]

# Merging dataframes
final_recweek = recweek.merge(genderdf, on="firstname")

# Rearranging the columns in the new merged dataframe
final_recweek = final_recweek[["firstname","lastname","gender","birthmonth","birthday","birthyear","course","yearlevel","phonenumber"]]

# Dump
final_recweek

,firstname,lastname,gender,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,Female,November,26,1998,BS Legal Management,2,0918 302 6210
1,name2,lastname2,Female,May,26,2001,BS Management,4,0927 212 6276
2,name3,lastname3,Female,May,16,1997,BS Communications Technology,1,0918 253 7017
3,name4,lastname4,Male,December,9,1997,BS IT Entrepreneurship,3,0918 714 4360
4,name5,lastname5,Female,September,5,1997,BS Communications Technology,3,0927 462 1674
...,...,...,...,...,...,...,...,...,...
2995,name2996,lastname2996,Female,March,28,1997,BS Communications Technology,2,0917 795 5051
2996,name2997,lastname2997,Male,May,19,1998,BS Legal Management,2,0917 445 3378
2997,name2998,lastname2998,Female,July,3,1998,BS IT Entrepreneurship,2,0917 154 5694
2998,name2999,lastname2999,Male,December,2,1998,BS Management Engineering,3,0927 497 8977
2999,name3000,lastname3000,Male,July,13,1997,BS Legal Management,1,0918 719 7624

In [7]:
# export to csv
# compare with cleanrecweekdata

final_recweek.to_csv("cleanrecweekdata.csv")
!cat cleanrecweekdata.csv

,firstname,lastname,gender,birthmonth,birthday,birthyear,course,yearlevel,phonenumber
0,name1,lastname1,Female,November,26,1998,BS Legal Management,2,0918 302 6210
1,name2,lastname2,Female,May,26,2001,BS Management,4,0927 212 6276
2,name3,lastname3,Female,May,16,1997,BS Communications Technology,1,0918 253 7017
3,name4,lastname4,Male,December,9,1997,BS IT Entrepreneurship,3,0918 714 4360
4,name5,lastname5,Female,September,5,1997,BS Communications Technology,3,0927 462 1674
5,name6,lastname6,Female,March,2,1999,BS Management,2,0918 629 5268
6,name7,lastname7,Female,November,10,1998,BS Legal Management,1,0917 369 7388
7,name8,lastname8,Male,August,28,1999,BS Management Engineering,3,0917 240 6000
8,name9,lastname9,Male,July,10,1997,BS Management Engineering,3,0918 226 5748
9,name10,lastname10,Female,September,14,2001,BS Communications Technology,1,0918 342 1717
10,name11,lastname11,Male,December,8,1998,BS Legal Management,4,0927 708 1308
11,name12,lastname12,Male,May,4,1997,BS Management Engineering,4,0927 747 5497
12,name13,lastname13,Female,January,28,1999,BS Communications Technology,3,0917 959 4490
13,name14,lastname14,Female,January,11,1999,BS Management,1,0927 543 4192
14,name15,lastname15,Male,June,6,1998,BS IT Entrepreneurship,3,0917 211 9497
15,name16,lastname16,Male,April,20,1999,BS Legal Management,4,0918 185 5162
16,name17,lastname17,Female,January,3,1997,BS IT Entrepreneurship,4,0927 146 8146
17,name18,lastname18,Female,April,8,1997,BS Management,2,0927 516 4280
18,name19,lastname19,Male,December,28,1997,BS IT Entrepreneurship,3,0927 958 6909
19,name20,lastname20,Male,March,10,1997,BS Management Engineering,2,0917 514 9105
20,name21,lastname21,Female,July,13,1999,BS Legal Management,1,0927 984 7499
21,name22,lastname22,Male,September,15,1999,BS IT Entrepreneurship,1,0927 699 3694
22,name23,lastname23,Male,April,15,1997,BS Management,1,0917 317 2478
23,name24,lastname24,Male,October,1,1997,BS Management Engineering,2,0917 159 3829
24,name25,lastname25,Male,May,6,1997,BS Management Engineering,2,0918 898 6972
25,name26,lastname26,Male,December,5,1999,BS Management Engineering,3,0917 796 4622
26,name27,lastname27,Female,March,4,1997,BS Communications Technology,3,0927 138 7580
27,name28,lastname28,Male,November,10,2000,BS Legal Management,1,0917 195 9244
28,name29,lastname29,Female,October,10,1999,BS Legal Management,3,0917 643 3996
29,name30,lastname30,Male,May,28,1999,BS Communications Technology,1,0917 758 3119
30,name31,lastname31,Male,April,6,1999,BS IT Entrepreneurship,2,0918 669 4265
31,name32,lastname32,Female,July,16,1999,BS Management,4,0917 750 8539
32,name33,lastname33,Male,December,17,1999,BS IT Entrepreneurship,4,0927 236 9504
33,name34,lastname34,Female,October,4,1999,BS Legal Management,3,0917 438 4447
34,name35,lastname35,Male,July,14,2001,BS IT Entrepreneurship,3,0917 773 6035
35,name36,lastname36,Male,December,11,1998,BS Management,2,0918 455 4185
36,name37,lastname37,Female,February,2,2000,BS Management,1,0927 889 9252
37,name38,lastname38,Female,August,25,2001,BS Legal Management,1,0927 874 8083
38,name39,lastname39,Male,May,3,1997,BS Management Engineering,2,0927 842 3053
39,name40,lastname40,Male,February,27,1998,BS Legal Management,3,0927 923 1234
40,name41,lastname41,Male,November,16,1999,BS Management,2,0918 381 4956
41,name42,lastname42,Female,September,24,1998,BS Legal Management,3,0918 602 9278
42,name43,lastname43,Female,January,13,1999,BS Management,3,0918 532 6748
43,name44,lastname44,Male,February,25,1998,BS IT Entrepreneurship,4,0917 654 1291
44,name45,lastname45,Female,January,27,1997,BS Management Engineering,3,0918 244 1683
45,name46,lastname46,Female,December,24,1998,BS Management Engineering,4,0917 818 1190
46,name47,lastname47,Male,August,23,1999,BS Management,3,0917 468 6425
47,name48,lastname48,Female,April,13,1999,BS IT Entrepreneurship,1,0918 635 1688
48,name49,lastname49,Male,October,11,1997,BS Legal Management,3,0917 821 1896
49,name50,lastname50,Male,March,25,2001,BS Legal Management,2,0927 924 9506
50,name51,lastname51,Female,August,22,1998,BS IT Entrepreneurship,1,0918 854 2626
51,name52,lastname52,Female,March,21,1999,BS Communications Technology,2,0918 438 9745
52,name53,lastname53,Male,December,15,2000,BS Management,4,0917 893 8235
53,name54,lastname54,Female,July,10,1998,BS Communications Technology,2,0918 216 5250
54,name55,lastname55,Female,May,8,1998,BS Management Engineering,1,0917 257 1057
55,name56,lastname56,Male,September,9,1998,BS Management Engineering,2,0927 949 5098
56,name57,lastname57,Female,May,9,2001,BS Communications Technology,1,0927 766 6306
57,name58,lastname58,Female,April,6,1997,BS Management Engineering,4,0918 851 8794
58,name59,lastname59,Male,April,24,1998,BS IT Entrepreneurship,3,0917 901 2860
59,name60,lastname60,Male,August,26,1999,BS IT Entrepreneurship,2,0918 681 5912
60,name61,lastname61,Female,September,8,1998,BS Communications Technology,1,0918 340 1320
61,name62,lastname62,Female,December,7,2000,BS IT Entrepreneurship,3,0927 551 1326
62,name63,lastname63,Male,February,22,2000,BS Management Engineering,4,0918 975 4142
63,name64,lastname64,Female,November,13,1997,BS IT Entrepreneurship,3,0917 466 1269
64,name65,lastname65,Female,March,23,1997,BS Management Engineering,2,0927 627 1302
65,name66,lastname66,Female,September,24,1997,BS Legal Management,4,0917 553 5101
66,name67,lastname67,Male,December,9,1997,BS Communications Technology,1,0917 442 5313
67,name68,lastname68,Male,November,4,2001,BS Management,3,0927 715 7133
68,name69,lastname69,Male,November,19,1998,BS Communications Technology,2,0917 448 4860
69,name70,lastname70,Female,May,12,1998,BS Legal Management,1,0917 255 1167
70,name71,lastname71,Female,August,19,1999,BS Communications Technology,2,0918 461 3486
71,name72,lastname72,Male,December,1,1999,BS Management,2,0927 347 7129
72,name73,lastname73,Male,June,21,1998,BS Management Engineering,4,0918 404 6593
73,name74,lastname74,Male,October,25,1997,BS Legal Management,3,0927 737 8051
74,name75,lastname75,Male,September,17,1998,BS IT Entrepreneurship,3,0927 348 7430
75,name76,lastname76,Female,February,2,1997,BS Communications Technology,3,0927 188 4940
76,name77,lastname77,Male,May,19,2000,BS Communications Technology,2,0918 961 3285
77,name78,lastname78,Female,September,15,2000,BS Management,4,0918 510 5817
78,name79,lastname79,Male,December,23,2000,BS Legal Management,4,0927 668 6229
79,name80,lastname80,Female,August,10,1999,BS Communications Technology,1,0927 229 9686
80,name81,lastname81,Male,February,1,1997,BS Communications Technology,1,0918 873 6019
81,name82,lastname82,Male,November,22,1997,BS Communications Technology,2,0918 376 7811
82,name83,lastname83,Female,June,18,2000,BS Management Engineering,3,0927 118 4679
83,name84,lastname84,Female,February,28,1999,BS IT Entrepreneurship,3,0917 236 2591
84,name85,lastname85,Female,January,10,1999,BS Legal Management,1,0927 128 1225
85,name86,lastname86,Male,November,21,1998,BS Management,1,0918 587 6655
86,name87,lastname87,Female,August,15,1998,BS IT Entrepreneurship,2,0918 945 8163
87,name88,lastname88,Male,January,26,1997,BS Management Engineering,4,0917 908 6005
88,name89,lastname89,Female,March,26,1998,BS IT Entrepreneurship,2,0917 367 9784
89,name90,lastname90,Male,March,15,1999,BS IT Entrepreneurship,2,0918 501 6913
90,name91,lastname91,Female,August,16,1997,BS IT Entrepreneurship,2,0918 823 1926
91,name92,lastname92,Male,December,8,1997,BS Management Engineering,4,0917 449 1492
92,name93,lastname93,Female,June,14,1998,BS IT Entrepreneurship,1,0927 196 1085
93,name94,lastname94,Male,November,24,1997,BS Legal Management,2,0918 768 1582
94,name95,lastname95,Female,September,6,2001,BS Communications Technology,2,0927 111 9326
95,name96,lastname96,Male,March,16,1999,BS Communications Technology,1,0917 699 1883
96,name97,lastname97,Female,January,19,1997,BS Management,4,0918 149 1873
97,name98,lastname98,Male,January,10,1998,BS IT Entrepreneurship,3,0927 615 1107
98,name99,lastname99,Male,May,12,1998,BS Communications Technology,1,0927 440 8773
99,name100,lastname100,Female,May,10,1999,BS Management,4,0927 787 2993
100,name101,lastname101,Female,April,2,1997,BS Communications Technology,1,0927 952 3919
101,name102,lastname102,Male,August,14,2001,BS Legal Management,2,0918 454 7163
102,name103,lastname103,Male,December,16,2000,BS Management Engineering,1,0927 148 8884
103,name104,lastname104,Female,July,16,2001,BS Communications Technology,3,0918 852 3413
104,name105,lastname105,Male,March,5,1999,BS IT Entrepreneurship,2,0917 502 7912
105,name106,lastname106,Female,August,25,1997,BS Communications Technology,2,0927 510 1038
106,name107,lastname107,Female,April,21,2001,BS Management,2,0927 958 1514
107,name108,lastname108,Male,May,14,1999,BS Management,4,0918 797 4867
108,name109,lastname109,Female,August,15,1998,BS Management Engineering,2,0917 615 3478
109,name110,lastname110,Male,January,8,1999,BS Management Engineering,4,0918 661 5521
110,name111,lastname111,Female,December,22,2001,BS Management Engineering,2,0918 401 1101
111,name112,lastname112,Female,May,19,1997,BS Management,1,0918 469 9048
112,name113,lastname113,Female,May,27,1997,BS IT Entrepreneurship,3,0917 389 5698
113,name114,lastname114,Female,August,22,1999,BS Communications Technology,2,0917 946 6274
114,name115,lastname115,Male,March,26,1998,BS IT Entrepreneurship,4,0917 236 8755
115,name116,lastname116,Female,July,19,1997,BS IT Entrepreneurship,3,0918 269 1384
116,name117,lastname117,Male,January,11,1997,BS Legal Management,3,0918 953 2016
117,name118,lastname118,Female,February,4,1999,BS Management Engineering,1,0918 752 1689
118,name119,lastname119,Male,December,27,1997,BS Legal Management,3,0927 259 3515
119,name120,lastname120,Female,February,3,1997,BS Legal Management,1,0918 732 2042
120,name121,lastname121,Female,March,5,2000,BS Legal Management,2,0918 137 1929
121,name122,lastname122,Female,March,1,2001,BS Legal Management,1,0917 898 5495
122,name123,lastname123,Female,April,23,1999,BS Legal Management,4,0918 479 2283
123,name124,lastname124,Male,February,2,1999,BS Management,1,0917 428 8800
124,name125,lastname125,Female,November,24,1998,BS Legal Management,4,0917 641 8280
125,name126,lastname126,Male,June,4,2000,BS Legal Management,1,0927 272 9008
126,name127,lastname127,Male,March,3,2000,BS Legal Management,2,0917 218 3720
127,name128,lastname128,Female,June,20,1998,BS Legal Management,3,0918 872 3714
128,name129,lastname129,Male,October,25,1998,BS Management Engineering,2,0927 399 5328
129,name130,lastname130,Female,July,18,2000,BS Management,2,0927 384 8421
130,name131,lastname131,Female,February,23,1999,BS Communications Technology,2,0927 278 9317
131,name132,lastname132,Male,September,10,1999,BS Legal Management,3,0927 450 3540
132,name133,lastname133,Female,April,18,1999,BS Communications Technology,3,0927 150 7228
133,name134,lastname134,Female,May,7,2000,BS Management,3,0918 995 5243
134,name135,lastname135,Female,October,3,1999,BS Communications Technology,2,0927 949 9628
135,name136,lastname136,Male,October,5,2000,BS Management,2,0927 558 1218
136,name137,lastname137,Female,June,5,1998,BS Management Engineering,4,0918 191 7948
137,name138,lastname138,Male,February,5,1997,BS IT Entrepreneurship,3,0918 636 6121
138,name139,lastname139,Male,April,8,1999,BS IT Entrepreneurship,3,0918 532 3276
139,name140,lastname140,Male,September,2,1999,BS Management Engineering,1,0927 795 1469
140,name141,lastname141,Male,June,8,1998,BS Legal Management,2,0927 430 8948
141,name142,lastname142,Female,December,3,1999,BS Legal Management,4,0918 659 4663
142,name143,lastname143,Female,November,15,1999,BS Management Engineering,4,0927 716 8308
143,name144,lastname144,Male,October,14,1998,BS Management Engineering,4,0917 855 4111
144,name145,lastname145,Male,February,9,2001,BS Management,4,0918 256 2335
145,name146,lastname146,Male,September,11,1998,BS Management,4,0927 248 8520
146,name147,lastname147,Male,December,6,1999,BS Legal Management,1,0917 856 9506
147,name148,lastname148,Female,November,13,2000,BS Legal Management,3,0927 989 2750
148,name149,lastname149,Male,September,18,1997,BS Management,2,0927 124 4294
149,name150,lastname150,Female,August,5,1997,BS Management Engineering,2,0918 162 5544
150,name151,lastname151,Female,May,17,1998,BS Legal Management,3,0918 469 2092
151,name152,lastname152,Female,March,15,1999,BS Legal Management,4,0927 145 1261
152,name153,lastname153,Male,November,2,1999,BS Management Engineering,1,0927 415 2246
153,name154,lastname154,Female,August,2,1999,BS Management,1,0918 331 9863
154,name155,lastname155,Female,December,14,1999,BS Legal Management,1,0918 649 2584
155,name156,lastname156,Female,April,3,1998,BS Management,4,0918 146 7027
156,name157,lastname157,Male,August,13,1997,BS Management Engineering,2,0927 475 9634
157,name158,lastname158,Female,January,28,1999,BS Legal Management,4,0927 594 6138
158,name159,lastname159,Female,October,12,1998,BS Management,3,0927 653 5975
159,name160,lastname160,Female,December,25,2000,BS Communications Technology,1,0917 137 6557
160,name161,lastname161,Male,January,1,2000,BS Communications Technology,4,0917 289 3619
161,name162,lastname162,Male,January,26,2000,BS Communications Technology,1,0917 388 6944
162,name163,lastname163,Female,April,17,1999,BS IT Entrepreneurship,1,0917 307 3272
163,name164,lastname164,Male,May,25,1997,BS IT Entrepreneurship,3,0917 925 9571
164,name165,lastname165,Male,August,12,1998,BS Management,2,0918 281 2519
165,name166,lastname166,Female,February,16,1999,BS Management Engineering,3,0918 536 9523
166,name167,lastname167,Female,April,4,2000,BS Management,1,0918 705 3266
167,name168,lastname168,Female,July,5,1997,BS Management Engineering,1,0927 511 1039
168,name169,lastname169,Female,April,13,1998,BS Management Engineering,3,0918 284 3059
169,name170,lastname170,Female,June,9,2000,BS IT Entrepreneurship,3,0927 797 7430
170,name171,lastname171,Female,August,17,1997,BS Legal Management,3,0918 227 4954
171,name172,lastname172,Female,September,24,2000,BS Communications Technology,1,0917 308 1448
172,name173,lastname173,Female,August,13,1998,BS Management Engineering,1,0917 180 6600
173,name174,lastname174,Male,October,19,1998,BS Management Engineering,4,0927 185 5392
174,name175,lastname175,Female,June,1,1999,BS Management Engineering,2,0917 492 1000
175,name176,lastname176,Female,June,9,1999,BS IT Entrepreneurship,3,0927 787 2528
176,name177,lastname177,Male,July,1,2001,BS Management Engineering,1,0927 614 7614
177,name178,lastname178,Female,June,12,2001,BS IT Entrepreneurship,3,0917 735 9355
178,name179,lastname179,Male,May,4,1998,BS Legal Management,3,0927 728 7081
179,name180,lastname180,Male,March,22,1999,BS IT Entrepreneurship,3,0917 257 4982
180,name181,lastname181,Female,March,27,1999,BS Management Engineering,2,0917 744 6240
181,name182,lastname182,Male,June,2,1998,BS Communications Technology,1,0917 502 7471
182,name183,lastname183,Female,June,17,1997,BS Management,3,0918 582 2278
183,name184,lastname184,Female,December,23,1998,BS IT Entrepreneurship,4,0927 891 4782
184,name185,lastname185,Male,April,18,1997,BS Management Engineering,1,0917 248 5615
185,name186,lastname186,Female,November,19,1997,BS Management Engineering,3,0918 859 3958
186,name187,lastname187,Male,April,18,2001,BS Legal Management,2,0917 575 5267
187,name188,lastname188,Male,September,2,1997,BS Management Engineering,3,0918 621 4437
188,name189,lastname189,Female,December,7,2000,BS Management,3,0918 447 8973
189,name190,lastname190,Male,July,6,1997,BS Management,3,0918 409 2087
190,name191,lastname191,Male,May,7,1999,BS Legal Management,4,0918 742 1522
191,name192,lastname192,Male,July,9,1999,BS IT Entrepreneurship,3,0917 222 5936
192,name193,lastname193,Female,May,25,1997,BS Management Engineering,3,0918 730 6896
193,name194,lastname194,Male,September,2,1998,BS Legal Management,2,0917 399 8033
194,name195,lastname195,Female,July,15,2001,BS Management Engineering,2,0917 818 9641
195,name196,lastname196,Male,May,6,2001,BS Management Engineering,3,0927 486 8768
196,name197,lastname197,Female,October,24,2001,BS Management Engineering,3,0918 708 8549
197,name198,lastname198,Female,June,15,1997,BS Legal Management,4,0927 642 6498
198,name199,lastname199,Female,January,4,1999,BS Communications Technology,4,0927 536 3811
199,name200,lastname200,Female,November,13,1998,BS Management,1,0918 621 7426
200,name201,lastname201,Female,October,27,1997,BS Management,4,0917 681 9326
201,name202,lastname202,Female,April,15,2000,BS Management,1,0918 341 5085
202,name203,lastname203,Female,March,25,1998,BS Management Engineering,1,0918 419 5644
203,name204,lastname204,Male,November,4,1997,BS IT Entrepreneurship,4,0927 383 5918
204,name205,lastname205,Female,March,12,2000,BS Management,2,0917 173 4981
205,name206,lastname206,Female,December,19,1997,BS Management Engineering,2,0917 309 4697
206,name207,lastname207,Male,November,27,2000,BS IT Entrepreneurship,4,0918 744 5680
207,name208,lastname208,Male,October,20,1999,BS Communications Technology,2,0918 314 3702
208,name209,lastname209,Female,March,16,1999,BS Communications Technology,3,0917 764 8372
209,name210,lastname210,Female,April,2,1998,BS IT Entrepreneurship,2,0927 750 7712
210,name211,lastname211,Female,January,26,1999,BS Management,1,0927 744 7095
211,name212,lastname212,Male,November,2,1999,BS Management,3,0917 600 5892
212,name213,lastname213,Female,August,23,1999,BS Management,2,0918 482 4436
213,name214,lastname214,Female,June,8,1999,BS Communications Technology,1,0917 229 1656
214,name215,lastname215,Female,November,1,1998,BS Communications Technology,3,0917 129 7511
215,name216,lastname216,Female,October,23,1999,BS Legal Management,2,0927 931 6222
216,name217,lastname217,Male,May,2,1998,BS Management Engineering,3,0917 510 8517
217,name218,lastname218,Female,April,19,2001,BS Communications Technology,4,0927 859 9615
218,name219,lastname219,Female,May,28,1997,BS IT Entrepreneurship,2,0918 883 3812
219,name220,lastname220,Female,March,25,2001,BS Management,1,0927 855 3696
220,name221,lastname221,Male,July,12,2001,BS Management Engineering,2,0917 869 1592
221,name222,lastname222,Male,September,5,1999,BS Legal Management,4,0927 390 2398
222,name223,lastname223,Male,February,9,1997,BS Management,1,0918 250 3159
223,name224,lastname224,Female,December,18,2001,BS Management,4,0917 914 1992
224,name225,lastname225,Male,February,27,1998,BS Management Engineering,3,0917 168 1549
225,name226,lastname226,Female,March,12,1997,BS Legal Management,3,0918 812 9824
226,name227,lastname227,Female,October,8,1997,BS Management,1,0918 676 3675
227,name228,lastname228,Female,November,16,1999,BS Management,3,0927 616 9286
228,name229,lastname229,Male,June,11,1999,BS Legal Management,3,0927 975 8823
229,name230,lastname230,Female,December,4,1997,BS Communications Technology,2,0917 559 2469
230,name231,lastname231,Male,May,22,1998,BS IT Entrepreneurship,4,0927 597 2823
231,name232,lastname232,Male,April,17,2000,BS Management,4,0917 418 9979
232,name233,lastname233,Male,June,13,2001,BS Management Engineering,2,0927 523 4422
233,name234,lastname234,Male,February,6,1997,BS Communications Technology,2,0917 911 6706
234,name235,lastname235,Male,July,7,1999,BS Management,3,0918 656 9527
235,name236,lastname236,Male,October,23,1998,BS Management,1,0917 251 3024
236,name237,lastname237,Male,December,14,1998,BS Legal Management,1,0927 940 8616
237,name238,lastname238,Male,March,4,2000,BS Communications Technology,1,0917 261 3868
238,name239,lastname239,Male,February,5,1997,BS Legal Management,3,0927 976 2990
239,name240,lastname240,Male,April,21,2001,BS Legal Management,4,0917 962 2388
240,name241,lastname241,Female,September,7,2000,BS Communications Technology,2,0917 560 3594
241,name242,lastname242,Female,June,1,1998,BS IT Entrepreneurship,4,0917 267 6749
242,name243,lastname243,Male,November,19,1998,BS Communications Technology,3,0918 388 9243

In [4]:
# Use ls (Mac) or dir (Windows) cleanrecweekdata.csv
# choose appropriate command
# !dir cleanrecweekdata.csv
# or
# !ls cleanrecweekdata.csv

 Volume in drive D is UserProfile
 Volume Serial Number is 508F-1BD0

 Directory of D:\Users\jilagan\Dropbox\Workspaces\src\ITMGT25.03_Intersession2020\tests\EM3

08/10/2020  04:01 PM           276,118 cleanrecweekdata.csv
               1 File(s)        276,118 bytes
               0 Dir(s)  44,855,271,424 bytes free

In [8]:
# write code here
!ls cleanrecweekdata.csv

cleanrecweekdata.csv

#### Get statistics

In [51]:
# People per Birthmonth sorted by calendar numeric month

   birthmonth  count
0     January    270
1    February    232
2       March    246
3       April    267
4         May    273
5        June    259
6        July    249
7      August    241
8   September    232
9     October    178
10   November    277
11   December    276

In [9]:
# Write code here

# Creating a list that orders the months, since the "value_counts" has no way of automating the order of
# months displayed. Recalling each of the months in a loop can then create the desired sort:
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

# Getting the counts of each month in all 3000 rows via '.value_counts'
monthcounts = final_recweek["birthmonth"].value_counts(sort=False)

# List for lists made of pairs for the data frame creation
monthcountpairs = []

# Assigning each month to its corresponding number count pair
for m in months:
    pair = [m,monthcounts[m]]
    monthcountpairs.append(pair)

# Creating the birthmonth counts data frame 
birthmonthcount = pd.DataFrame(monthcountpairs,columns=["birthmonth","count"])

# Dumping the data frame
birthmonthcount

   birthmonth  count
0     January    270
1    February    232
2       March    246
3       April    267
4         May    273
5        June    259
6        July    249
7      August    241
8   September    232
9     October    178
10   November    277
11   December    276

In [52]:
# same day
# sort by calendar day

    birthday  count
0          1    112
1          2    106
2          3     90
3          4    110
4          5    100
5          6     99
6          7     88
7          8    111
8          9     98
9         10    111
10        11    105
11        12     98
12        13    119
13        14    102
14        15    121
15        16    115
16        17    116
17        18    107
18        19    113
19        20     91
20        21    123
21        22    103
22        23    116
23        24    108
24        25    116
25        26    116
26        27    102
27        28    104

In [10]:
# write code here

# First we get the list of all the numeric days present in the dataframe, then sort days in ascending order:
uniquedays = final_recweek["birthday"].unique()
uniquedays.sort()

# Same process as before...
daycounts = final_recweek["birthday"].value_counts(sort=True)

daycountpairs = []

for d in uniquedays:
    pair = [d,daycounts[d]]
    daycountpairs.append(pair)

# Creating the birthday counts dataframe
birthdaycount = pd.DataFrame(daycountpairs,columns=["birthday","count"])

# Dump
birthdaycount

    birthday  count
0          1    112
1          2    106
2          3     90
3          4    110
4          5    100
5          6     99
6          7     88
7          8    111
8          9     98
9         10    111
10        11    105
11        12     98
12        13    119
13        14    102
14        15    121
15        16    115
16        17    116
17        18    107
18        19    113
19        20     91
20        21    123
21        22    103
22        23    116
23        24    108
24        25    116
25        26    116
26        27    102
27        28    104

In [53]:
# same year
# sort accordingly

  birthyear  count
0      1997    756
1      1998    746
2      1999    756
3      2000    380
4      2001    362

In [11]:
# write code here

uniqueyears = final_recweek["birthyear"].unique()
uniqueyears.sort()

yearcounts = final_recweek["birthyear"].value_counts(sort=True)

yearcountpairs = []

for y in uniqueyears:
    pair = [y,yearcounts[y]]
    yearcountpairs.append(pair)
    
# Creating the birthyear counts dataframe
birthyearcount = pd.DataFrame(yearcountpairs,columns=["birthyear","count"])

# Dump
birthyearcount

  birthyear  count
0      1997    756
1      1998    746
2      1999    756
3      2000    380
4      2001    362

In [55]:
# same year level
# sort accordingly

   yearlevel  count
0          1    760
1          2    791
2          3    751
3          4    698

In [12]:
# write code here

yearlevels = final_recweek["yearlevel"].unique()
yearlevels.sort()

levelcounts = final_recweek["yearlevel"].value_counts(sort=True)

yearlevelpairs = []

for y in yearlevels:
    pair = [y,levelcounts[y]]
    yearlevelpairs.append(pair)
    
# Creating the yearlevel counts dataframe
yearlevelcounts = pd.DataFrame(yearlevelpairs,columns=["yearlevel","count"])

# Dump
yearlevelcounts

   yearlevel  count
0          1    760
1          2    791
2          3    751
3          4    698

In [56]:
# same course
# sorting does not matter

                         course  count
0  BS Communications Technology    589
1        BS IT Entrepreneurship    590
2           BS Legal Management    585
3                 BS Management    629
4     BS Management Engineering    607

In [13]:
# write code here

courses = final_recweek["course"].unique()

coursecounts = final_recweek["course"].value_counts(sort=True)

coursecountpairs = []

for c in courses:
    pair = [c,coursecounts[c]]
    coursecountpairs.append(pair)

# Creating the course counts dataframe
coursescountdataframe = pd.DataFrame(coursecountpairs,columns=["course","count"])

# Dump
coursescountdataframe

                         course  count
0           BS Legal Management    585
1                 BS Management    629
2  BS Communications Technology    589
3        BS IT Entrepreneurship    590
4     BS Management Engineering    607

In [59]:
# choose any of the following two outputs:

carrier  gender
Globe    Female     984
         Male      1061
Smart    Female     494
         Male       461
Name: firstname, dtype: int64

In [61]:
# or

  carrier  gender  count
0   Globe  Female    984
1   Globe    Male   1061
2   Smart  Female    494
3   Smart    Male    461

In [62]:
# carrier count

  carrier  count
0   Globe   2045
1   Smart    955

In [14]:
# write code here

# Globe (0917 or 0927)
# SMART (0918)

# This code is made in such a way that newer inputs of different carriers and their numbers can be accounted for

genders = ["Male","Female"]

# Regex patterns for vectorization function
globepattern = r"^09[1-2]7"
smartpattern = r"0918"

# Vectorization function that determines if a 'phonenumber' is a SMART, Globe, or any other added carrier
def smartorglobe(number):
    if (re.match(globepattern,number)):
        return "Globe"
    elif (re.match(smartpattern,number)):
        return "Smart"
    else:
        return "No carrier match"

# Creating a new dataframe from the gender and phonenumber columns in final_recweek
cellcarrierdf = final_recweek[["gender","phonenumber"]].copy()

# Vectorizing into a new data frame column 'carrier'
cellcarrierdf["carrier"] = cellcarrierdf["phonenumber"].apply(smartorglobe)

# Makes a list of all the present carriers in the dataframe 
carriers = cellcarrierdf["carrier"].unique()

In [15]:
# Creating the gender specific dataframe:

gendercarrierrows = []

for c in carriers:
    for g in genders:
        referencedataframe = cellcarrierdf[cellcarrierdf["carrier"].str.contains(c) & cellcarrierdf["gender"].str.contains(g)]
        row = [c,g,len(referencedataframe)]
        gendercarrierrows.append(row)

gendercarrierdf = pd.DataFrame(gendercarrierrows,columns=["carrier","gender","count"])

# Dump
gendercarrierdf

  carrier  gender  count
0   Smart    Male    461
1   Smart  Female    494
2   Globe    Male   1061
3   Globe  Female    984

In [16]:
# Creating the carrier count dataframe:

carrierrows = []

for c in carriers:
    count = cellcarrierdf[cellcarrierdf["carrier"].str.contains(c)]
    row = [c,len(count)]
    carrierrows.append(row)

carriercount = pd.DataFrame(carrierrows,columns=["carrier","count"])

# Dump
carriercount

  carrier  count
0   Smart    955
1   Globe   2045